body{
 background: url("back-ground.jpg");
}

.header-text {
  margin-top: 50px;
}

.x-panel {
  position: relative;
  width: 70%;
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 20px 10px;
  display: inline-block;
  background: #fff;
  box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.11);
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  opacity: 1;
  transition: all .2s ease;
  border-radius: 4px;
}

#vacancy-seat-list{
  border: 1px gray !important;
}

#seat_bookingtrue {
  color: green;
}

.booking-seats {
  background-color: #e3e5ea !important;
}

.price-cls {
  padding-right: 5px !important;
}