.loader {
  border: 5px solid #394B58;
  border-radius: 50%;
  border-top: 5px solid #f3f3f3;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  left:50%;
  top:50%;
  position:absolute;
  z-index: 100000;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0;
}
.fade.in {
    opacity: 1;
}
.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .2;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}